# Configuración del servidor Backend
PORT=3001

# Clave de API para Groq (LLM gratuito)
# Consigue tu clave en: https://console.groq.com
GROQ_API_KEY=tu_clave_de_groq_aqui

# Connection String de MongoDB Atlas
MONGO_URI=mongodb+srv://usuario:password@cluster.mongodb.net/?appName=NombreApp

# Clave secreta para tokens JWT
JWT_SECRET=una_clave_larga_y_dificil_de_adivinar
